import(Biobase)
exportClasses( "MRexperiment" )

exportMethods(
"[",
"colSums",
"rowSums",
"colMeans",
"rowMeans"
)

export(
aggregateM,
biom2MRexperiment,
cumNorm,
cumNormMat,
cumNormStat,
cumNormStatFast,
exportMat,
exportStats,
fitZig,
filterData,
load_biom,
load_meta,
load_metaQ,
load_phenoData,
MRcoefs,
MRfisher,
MRfulltable,
MRtable,
plotCorr,
plotGenus,
plotMRheatmap,
plotOTU,
plotOrd,
plotRare,
zigControl,
newMRexperiment,
MRcounts,
posterior.probs,
normFactors,
libSize,
expSummary
)
