import(Biobase)
exportClasses( "MRexperiment" )

exportMethods(
"["
)

export(
aggregateM,
cumNorm,
cumNormMat,
cumNormStat,
exportMat,
exportStats,
fitZig,
load_meta,
load_metaQ,
load_phenoData,
MRcoefs,
MRfisher,
MRfulltable,
MRtable,
plotCorr,
plotGenus,
plotMRheatmap,
plotOTU,
plotOrd,
zigControl,
newMRexperiment,
MRcounts,
posterior.probs,
normFactors,
libSize,
expSummary
)
